:root {
	background-color: var(--background);
	--transition: all 0.5s;
	--slider-ball: linear-gradient(145deg, #f0f0f0, #cacaca);
	--button-background: #0075f2;
	--button-box-shadow: inset 5px 5px 3px #0059b8, inset -5px -5px 3px #0091ff;
}

[data-theme='dark'] {
	--background: #02006c;
	--secondary-color: #023e8a;
	--text-color: #caf0f8;
}

[data-theme='light'] {
	--background: #edede9;
	--secondary-color: #d6ccc2;
	--text-color: #edede9;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/SF-Pro.ttf');
}

@font-face {
	font-family: 'SF Pro Display Thin';
	src: url('../fonts/SF-Pro-Display-Thin.otf');
}

@font-face {
	font-family: 'SF Pro Display Black';
	src: url('../fonts/SF-Pro-Display-Black.otf');
}

@font-face {
	font-family: 'SF Pro Display Medium';
	src: url('../fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
	font-family: 'SF Pro Display Semibold';
	src: url('../fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
	font-family: 'SF Pro Rounded Medium';
	src: url('../fonts/SF-Pro-Rounded-Medium.otf');
}

@font-face {
	font-family: 'SF Pro Rounded Semibold';
	src: url('../fonts/SF-Pro-Rounded-Semibold.otf');
}
