:root {
	background-color: var(--background);
	--transition: all 0.5s;
	--slider-ball: linear-gradient(145deg, #f0f0f0, #cacaca);
	--button-background: #0075f2;
	--button-box-shadow: inset 5px 5px 3px #0059b8, inset -5px -5px 3px #0091ff;
}

[data-theme='dark'] {
	--background: #02006c;
	--secondary-color: #4a47ff;
	--text-color: #caf0f8;
	--transparency-color: rgba(255, 255, 255, 0.3);
}

[data-theme='light'] {
	--background: #edede9;
	--secondary-color: #d6ccc2;
	--text-color: #edede9;
}

.input-box-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.input-label {
	color: white;
	font-family: 'SF Pro';
	font-size: 1em;
	width: 60px;
}

.text-box {
	color: white;
	background-color: var(--transparency-color);
	height: 30px;
	width: 200px;
	border-width: 0px;
	border-radius: 10px;
	text-align: center;
	font-size: 1.2em;
}

.algorithm-controls-canvas {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	margin: 0 1em;
}

.icon {
	color: white;
	font-size: 2em;
	width: 30px;
}

.button-container {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.run-button {
	margin: 10px;
	width: 90%;
	height: 40px;
	border-width: 0px;
	border-radius: 10px;
	background-color: #ff5733;
	color: white;
	font-family: 'SF Pro';
	font-size: large;
}

/* Slider Settings */
.slider-label {
	color: white;
	font-family: 'SF Pro';
	font-size: 1.2em;
	width: 80px;
	text-align: end;
}

.algorithm-slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	background: var(--transparency-color);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.algorithm-slider:hover {
	opacity: 1;
}

.algorithm-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	opacity: 1;
	background: #ffffff;
	cursor: pointer;
}

.math-eq {
	color: white;
	font-size: 1.5em;
	font-family: 'SF Pro';
	font-weight: 300;
	background: #02006c;
	box-shadow: inset 6px 6px 12px #010050, inset -6px -6px 12px #030088;
	border-radius: 10px;
	border-width: 0px;
}

.line-break {
	width: 100%;
	height: 2px;
	background-color: white;
}

.h1 {
	font-family: 'SF Pro Rounded Medium';
	font-size: 3em;
	color: white;
	margin-left: 50px;
}

.h3 {
	font-family: 'SF Pro Rounded Medium';
	font-size: 2em;
	color: white;
}

.caption {
	font-family: 'SF Pro';
	font-size: 1em;
	color: white;
}

.references-list-item {
	font-size: 2em;
	margin-left: 75px;
	font-family: 'SF Pro Display Thin';
	color: white;
}

/* Fonts */
@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/SF-Pro.ttf');
}

@font-face {
	font-family: 'SF Pro Display Thin';
	src: url('../fonts/SF-Pro-Display-Thin.otf');
}

@font-face {
	font-family: 'SF Pro Display Black';
	src: url('../fonts/SF-Pro-Display-Black.otf');
}

@font-face {
	font-family: 'SF Pro Display Medium';
	src: url('../fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
	font-family: 'SF Pro Display Semibold';
	src: url('../fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
	font-family: 'SF Pro Rounded Medium';
	src: url('../fonts/SF-Pro-Rounded-Medium.otf');
}

@font-face {
	font-family: 'SF Pro Rounded Semibold';
	src: url('../fonts/SF-Pro-Rounded-Semibold.otf');
}
